*
{
max-width: 1200px;
margin: auto;
padding: 0;
}

body
{background-color: #000000}

header
{
    margin-top: 5px;
}

.logo
{width: 20%;
float: left;
margin-right: 20px;
}

nav
{
    display: inline;
    align-items: center;
}

li
{display: inline-flex;
align-items: center;
border: 2px solid #FFFFFF;
padding: 10px;
margin-right: 5px;
width: 150px;
text-align: center;
border-radius: 5px;
font-family: sans-serif;

}

li a
{
text-decoration: none;
font-size: 20px;
color: #FFFFFF;
}

li a:hover
{
color: #525252;
font-weight: bold;
}

li:hover
{
background-color: #e8e8e8;
border: 2px solid #FFFFFF;
}

ul
{
padding: 10px;
box-align: center;
}

.hero
{
/* border: 1px solid red; */
width: 1200px;
height: 500px;
display: flex;
justify-content: center;


}
.photo-prof
{
    /* border: 1px solid green; */
    width: 500px;
    border-radius: 5%;
    filter: drop-shadow(0 0 10px #FFFFFF);
    
}

.intro
{
    /* border: 1px solid green; */
    /* background-color: #000000; */
    width: 50%;
    height: 400px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 10px;
    font-size: 15px;
    font-family: monospace;
    
}